body, html {
  margin: 0; padding: 0;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}
#topbar {
  background: #1a1a1a;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
#map {
  width: 100%;
  height: calc(100vh - 100px);
}
#buttons {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: #111;
}
#buttons button {
  background: #282828;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 16px;
}